h3{
font-size: 30px !important;
background: rgb(0,208,66);
background: linear-gradient(90deg, rgba(0,208,66,1) 27%, rgba(9,117,121,1) 45%, rgba(0,255,192,1) 100%);
}
.btn-success:hover{
    background-color:red ;
}
canvas{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example{
    from{box-shadow: 1px 1px 38px red;}
to{box-shadow: 1px 1px 38px yellow;}
}
